setuptools
wheel
torch==1.9.0 
torchvision==0.10.0 
torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html
protobuf
matplotlib
joblib
pretty_midi
pyfluidsynth
tensorboard_logger
matplotlib
pyxdameraulevenshtein
jupyter
notebook
tqdm
numpy
pandas
collections
pdb
pathlib
shutil
importlib